.container {
  display: block;
  max-width: 1170px;
  padding-right: 1em;
  padding-left: 1em;
  margin: 0 auto;

  @include media-breakpoint(768px) {
    padding-left: 0;
    padding-right: 0;
  }
}

.list-unstyled {
  padding-left: 0;
  list-style: none;
}

.visually-hidden {
  position: absolute;
  left: -10000px;
  top: auto;
  width: 1px;
  height: 1px;
  overflow: hidden;
}
