.container {
  display: block;
  max-width: 1170px;
  /*   padding-right: 15px;
  padding-left: 15px; */
  margin-right: auto;
  margin-left: auto;
}

.list-unstyled {
  padding-left: 0;
  list-style: none;
}

.visually-hidden {
  position: absolute;
  left: -10000px;
  top: auto;
  width: 1px;
  height: 1px;
  overflow: hidden;
}
