[class^="icon-"],
[class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: "icons" !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-envelope-o:before {
  content: "\e906";
}
.icon-envelope:before {
  content: "\e907";
}
.icon-clock-o:before {
  content: "\e908";
}
.icon-phone:before {
  content: "\e909";
}
.icon-map-marker:before {
  content: "\e90a";
}
.icon-search:before {
  content: "\e90b";
}
.icon-cc-diners-club:before {
  content: "\e90c";
}
.icon-cc:before {
  content: "\e90d";
}
.icon-cc-mastercard:before {
  content: "\e90e";
}
.icon-cc-visa:before {
  content: "\e90f";
}
.icon-cc-paypal:before {
  content: "\e910";
}
.icon-cc-amex:before {
  content: "\e911";
}
.icon-pinterest-p:before {
  content: "\e912";
}
.icon-instagram:before {
  content: "\e913";
}
.icon-google-plus:before {
  content: "\e914";
}
.icon-twitter:before {
  content: "\e915";
}
.icon-facebook:before {
  content: "\e916";
}
.icon-facebook-f:before {
  content: "\e916";
}
.icon-star-half-empty:before {
  content: "\e917";
}
.icon-star-half-full:before {
  content: "\e917";
}
.icon-star-half-o:before {
  content: "\e917";
}
.icon-shopping-cart:before {
  content: "\e918";
}
.icon-automobile:before {
  content: "\e901";
}
.icon-car:before {
  content: "\e901";
}
.icon-star:before {
  content: "\e902";
}
.icon-mobile:before {
  content: "\e903";
}
.icon-mobile-phone:before {
  content: "\e903";
}
.icon-check-circle:before {
  content: "\e904";
}
.icon-cart-plus:before {
  content: "\e905";
}
.icon-user:before {
  content: "\e900";
}
