//PATHS TO FOLDERS
$font-folder: "../fonts/";
$image-folder: "../img/";

//COLORS
$accentFontLight: #ff3448;
$lineColor: #595959;
$accentFontDark: #9c1c28;
$DarkBgColor: #282828;
$FooterFontColor: #887979;
