header {
  [class^="icon-"] {
    color: $accentFontLight;
  }
  background-color: #212121;
  nav {
    background-color: #030303;

    ul {
      margin-left: 15px;
      @extend .list-unstyled;
      li {
        display: inline-block;
        padding: 25px 20px 20px 20px;
        a {
          display: block;
          color: #fff;
          text-transform: uppercase;
          text-decoration: none;
          font-weight: 600;
        }
      }
    }
  }
}
//|| TOP NAVIGATION
.top-nav {
  display: flex;
  /*  justify-content: flex-end;  temporary remove rule*/
  justify-content: center;
  align-items: center;
  padding-bottom: 0.5em;
  padding-top: 0.5em;
  @extend .list-unstyled;
  border-bottom: 2px solid $lineColor;
  position: relative;

  @include media-breakpoint(576px) {
    justify-content: end;
  }

  li {
    display: inline-block;
    /*  padding: 16px 20px 18px 20px; */
    padding: 0.53333em 0.6666em 0.6em 0.6666em;

    @include media-breakpoint(768px) {
      padding: 1.06666em 1.3333em 1.2em 1.3333em;
    }

    &:last-child:before {
      position: absolute;
      top: 12px;
      display: block;

      content: "";
      width: 2px;
      height: 30px;
      background-color: $lineColor;
    }

    a {
      display: block;
      text-decoration: none;
      color: $accentFontLight;
      font-size: 0.93em;
      font-weight: 400;
      :hover {
        color: rgba($color: $accentFontLight, $alpha: 0.6);
      }
    }
  }
  .search-icon {
    color: #fff;
    padding: 18px;
  } //top-navigation
}

//||LOGO iNFO & CART SECTION
.logo {
  display: flex;
  flex-direction: column;
  gap: 2em;
  align-items: center;
  margin-top: 1em;
  margin-bottom: 1.53em;

  /* @include media-breakpoint(576px) {
    align-items: start;
  } */

  @include media-breakpoint(768px) {
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 0;
  }
}

.main-logo {
  text-decoration: none;
  line-height: 1;
}

.logo-title {
  display: block;
  margin-top: 10px;

  color: #fff;
  text-transform: uppercase;
  font-weight: 400;
  letter-spacing: 0.27em;
}
.right {
  display: flex;
  flex-direction: column;
  gap: 2em;
  align-items: center;
  gap: 2em;
  @include media-breakpoint(576px) {
    flex-direction: row;
    gap: 2em;
  }
}

.info {
  display: flex;
  align-items: center;
  flex-direction: column;
  /* align-self: start; */
  gap: 1.2em;

  @include media-breakpoint(768px) {
    align-items: flex-end;
  }
}

.phone {
  display: flex;
  align-items: center;
  font-size: 1em;

  color: #fff;
  font-weight: 600;
  gap: 1em;

  @include media-breakpoint(992px) {
    font-size: 1.3333em;
  }
}

.schedule {
  text-transform: uppercase;
  font-weight: 400;
  color: #a2a2a2;
  font-size: 0.8em;
  text-align: center;

  @include media-breakpoint(992px) {
    font-size: 0.93333em;
  }
}

.icon-mobile-phone {
  font-size: 1.5em;
  line-height: 1;
}

.cart {
  [class^="icon-"] {
    display: block;
    text-align: center;
    font-size: 1.333rem;

    @include media-breakpoint(992px) {
      font-size: 1.666rem;
    }
  }
  @extend .list-unstyled;
  display: flex;
  align-items: flex-end;

  li {
    display: inline-block;
    padding: 0 1em;
    border-left: 2px solid $lineColor;
    font-size: 0.8em;

    @include media-breakpoint(992px) {
      font-size: 1em;
      padding: 0 1.666em;
    }
    a {
      display: block;
      font-weight: 600;
      text-decoration: none;
      color: #fff;
      text-transform: uppercase;
      span {
        margin-bottom: 20px;
      }
    }
  }
}

//||mAIN NAV

.main-nav {
  position: relative;
  /*   display: flex;
  justify-content: end; */

  &__wrapper {
    display: flex;
    justify-content: end;
  }

  &__list {
    position: absolute;
    top: 0;

    display: flex;
    flex-direction: column;
    opacity: 0;
    transform: translateX(-20px);
    transition: transform 0.6s ease-in-out;

    @include media-breakpoint(768px) {
      position: relative;
      opacity: 1;
      flex-direction: row;
    }
  }

  &__list.visible {
    padding-top: 3rem;
    padding-left: 2rem;
    opacity: 1;
    transform: translateY(0);
    background-color: rgba($DarkBgColor, 0.75);
    width: 100%;
    min-height: 100vh;
  }

  &__menu-img {
    cursor: pointer;
    z-index: 2;
    @include media-breakpoint(768px) {
      display: none;
    }
  }

  /*  &__visible {
    opacity: 0;
  } */
}

.container-mobile {
  margin: 0;
}

//|| MAIN-BANNER
.main-banner {
  min-height: 675px;
  @include bg-img("MainBanner.jpg");
}

//|| PRODUCTS SECTION

.row {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  background-color: #303030;

  @include media-breakpoint(768px) {
    flex-direction: row;
  }
}

.item {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  flex-basis: 50%;
  min-height: 408px;
  background-color: #303030;
  align-items: center;
  justify-content: center;
  border-bottom: 2px solid #fff;
  cursor: pointer;
  a {
    text-decoration: none;
  }
  &:hover {
    background-color: rgba(30, 30, 30, 0.7);
  }

  @include media-breakpoint(768px) {
    border: none;
  }

  @include media-breakpoint(992px) {
    /* align-items: center; */
  }
}

.dark-bg {
  background-color: #1c1c1c;
}

.heading {
  color: #fff;
  font-size: 1.867em;
  font-weight: 600;
  text-transform: uppercase;
  padding-bottom: 20px;

  @include media-breakpoint(576px) {
    font-size: 2.3333em;
  }
}
.content {
  display: flex;
  flex-direction: column;
  line-height: 1;
  gap: 2rem;
  align-items: center;

  p {
    color: #979696;
    font-size: 1em;
    font-weight: 500;

    @include media-breakpoint(576px) {
      font-size: 1.333em;
    }
  }
  img {
    width: 50%;
    height: 50%;
    align-self: center;
    @include media-breakpoint(992px) {
      width: 100%;
      height: auto;
    }
  }

  @include media-breakpoint(992px) {
    flex-direction: row;
    justify-content: space-between;
    padding-left: 3.4em;
  }
}

.image-wrapper {
  display: flex;
  justify-content: center;
}

.description {
  align-self: center;
}

//|| FEATURED PRODUCTS
.featured-products {
  padding: 86px 0 122px 0;
  background-color: #282828;
  display: flex;
  flex-direction: column;
  gap: 0.3125em;
  h1 {
    line-height: 1;
    text-align: center;
    position: relative;

    &::after {
      margin-top: 28px;
      position: absolute;
      line-height: 1;
      content: "";
      display: block;
      width: 172px;
      height: 6px;
      left: 50%;
      transform: translateX(-50%);
      background-color: $accentFontDark;
    }
  }
}

.products-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 3em;
  gap: 3em;
  a {
    text-decoration: none;
    img {
      width: 100%;
      height: auto;
    }
  }

  @include media-breakpoint(576px) {
    margin: 2em 2.5em 0;
    align-items: center;
    flex-wrap: wrap;
    gap: 3em;
  }

  @include media-breakpoint(768px) {
    margin: 68px 96px 0;
    flex-direction: row;
    justify-content: center;
    align-items: stretch;
    flex-wrap: wrap;
    gap: 2em;
  }
}

.product {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 75%;
  background-color: #363636;
  cursor: pointer;
  padding: 35px 30px;
  min-height: 18.75em;
  gap: 1em;

  @include media-breakpoint(576px) {
    width: 70%;
    gap: 1em;
  }

  @include media-breakpoint(768px) {
    justify-content: space-between;
    width: calc(100% / 2 - 2em);
  }

  @include media-breakpoint(992px) {
    width: calc(100% / 3 - 2em);
  }
  @include media-breakpoint(1200px) {
    width: calc(100% / 5 - 2em);
  }
}

.fp-heading {
  text-transform: uppercase;
  font-weight: 900;
  font-size: 1em;
  color: $accentFontLight;

  @include media-breakpoint(768px) {
    font-size: 1.133em;
  }
}

.price {
  text-align: center;
  color: #fff;
  font-size: 1.333em;
  font-weight: 900;
  margin-top: 23px;
  margin-bottom: 16px;
  @include media-breakpoint(576px) {
    font-size: 1.666em;
  }
}

.rating {
  text-align: center;
  color: $accentFontLight;
}

//||SPECIAL OFFERS
.special-offers {
  background-color: #030303;
  @include bg-img("Offers.jpg");
  display: flex;
  flex-direction: column;
  color: #fff;
  gap: 2em;
  align-items: center;

  @include media-breakpoint(576px) {
    flex-direction: row;
    justify-content: space-evenly;
  }
}

.discount {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;

  @include media-breakpoint(768px) {
    gap: 2rem;
  }
}

.desc {
  font-size: 0.9333em;
  @include media-breakpoint(768px) {
    font-size: 1rem;
  }
}

.amount {
  font-size: 2.6em;

  font-weight: 600;
  text-transform: uppercase;

  @include media-breakpoint(768px) {
    font-size: 5.4646em;
  }
}

.terms {
  text-transform: uppercase;
  font-size: 1.333em;
  font-weight: 600;
  @include media-breakpoint(768px) {
    font-size: 2.6666em;
  }
}

.buy-now {
  font: inherit;
  padding: 13px 44px;
  font-size: 1em;
  border-radius: 20px;
  line-height: 1;
  text-transform: uppercase;
  border: none;
  font-weight: 600;
  background-color: $accentFontDark;
  color: #fff;

  @include media-breakpoint(768px) {
    font-size: 1.3333em;
  }

  cursor: pointer;
  &:hover {
    background-color: lighten($accentFontDark, 15%);
    transition: all 0.3s ease-in-out;
  }
  &:focus {
    outline: none;
  }
}

footer {
  background-color: #000;

  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 4em 1em 1em 1em;

  @include media-breakpoint(768px) {
    padding: 3.37em 4.7em 2.4em 4.8em;
  }

  @include media-breakpoint(992px) {
    padding: 7.67em 9.267em 4.8em 9.6em;
  }
}

.footer-top {
  display: flex;
  flex-direction: column;
  padding-bottom: 3em;
  border-bottom: 2px solid $lineColor;
  align-items: center;
  gap: 3em;
  width: 100%;

  @include media-breakpoint(428px) {
    flex-direction: row;
    flex-wrap: wrap;
    align-items: start;
  }

  > div {
    display: flex;
    flex-direction: column;
    gap: 1.5em;
    width: 100%;
    align-items: center;
    p {
      color: $FooterFontColor;
    }
    form {
      display: flex;
      flex-direction: column;
    }
    @include media-breakpoint(428px) {
      width: calc(100% / 2 - 3em);
      align-items: start;
    }

    @include media-breakpoint(768px) {
      width: calc(100% / 3 - 3em);
    }
    @include media-breakpoint(1200px) {
      width: calc(100% / 4 - 3em);
    }
  }
  input {
    font: inherit;
    margin-top: 18px;
    height: 36px;
    background-color: $DarkBgColor;
    border: none;
    color: #fff;
    padding: 0 10px;
  }

  @include media-breakpoint(768px) {
    flex-direction: row;
    justify-content: space-between;
  }
}
div .contact-form {
  display: flex;
  flex-direction: column;
  max-width: 90%;

  form {
    display: flex;
    flex-direction: column;
    gap: 2.267em;
  }
}
.social-buttons {
  margin-top: 3em;
  @extend .list-unstyled;
  display: flex;
  gap: 2.133em;

  a {
    &:any-link {
      text-decoration: none;
      color: #fff;
      font-size: 25px;
      transition: all 0.3s ease-in-out;
    }
    &:hover {
      color: lighten(#000, 70%);
    }
  }
}

#submit {
  @extend .buy-now;
  width: 100%;
  text-align: center;
  font-size: 1em;
}

.quick-links {
  color: $accentFontLight;
  display: flex;
  flex-direction: column;
  gap: 1.333em;
  font-size: 0.933em;
  @include media-breakpoint(992px) {
    gap: 1.733em;
    font-size: 1em;
  }

  li {
    list-style-type: none;
    &:first-child {
      padding-top: 0;
    }
    a {
      transition: all 0.5s ease-in-out;
      &:any-link {
        color: $accentFontLight;
        text-decoration: none;
      }

      &:hover {
        color: pink;
      }
    }
  }
}

.footer-middle {
  display: flex;
  flex-direction: column;
  color: $FooterFontColor;
  margin: 2.8em 0 3.4em 0;
  border-bottom: 2px solid $lineColor;
  align-items: center;
  gap: 3em;
  padding-bottom: 5.6em;

  @include media-breakpoint(768px) {
    flex-direction: row;
    justify-content: space-between;
    align-items: stretch;
    padding-bottom: 6.933em;
    margin: 5.67em 0 3.067em 0;
  }
  @include media-breakpoint(992px) {
    gap: 4em;
  }

  div {
    width: 80%;
    &:last-child {
      padding-right: 0;
    }
    [class^="icon-"] {
      color: $accentFontDark;
      margin-right: 12px;
    }

    @include media-breakpoint(768px) {
      width: calc(100% / 3 - 3em);
    }
  }
}

.information {
  font-size: 0.933em;
  line-height: 1.4em;

  @include media-breakpoint(768px) {
    font-size: 1em;
    line-height: 1.467em;
  }
}

.footer-heading {
  color: #fff;
  text-transform: uppercase;
  font-size: 1.333em;
  text-align: center;

  font-weight: 600;
  margin-bottom: 37px;
  position: relative;
  &::after {
    position: absolute;
    display: block;
    content: "";
    line-height: 1;
    height: 6px;
    width: 89px;
    background-color: $accentFontDark;
    top: 36px;
    left: 50%;
    transform: translateX(-50%);
    @include media-breakpoint(768px) {
      left: 0;
      transform: translateX(0);
    }
  }

  @include media-breakpoint(768px) {
    text-align: left;
  }

  @include media-breakpoint(992px) {
    font-size: 1.6666em;
    text-align: left;
  }
}

.footer-bottom {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2em;
  color: #fff;
  line-height: 0.9333;
  span[class^="icon-"] {
    font-size: 22px;
  }
  .footer-bg {
    font-weight: 400;
    color: $FooterFontColor;
  }

  @include media-breakpoint(768px) {
    flex-direction: row;
    justify-content: space-between;
    /* */
  }
}

.copy {
  font-weight: 600;
  color: #fff;
}

.footer-bottom-icons {
  display: flex;
  gap: 1.867em;
  flex-wrap: wrap;
  justify-content: center;
}
